# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
target
LearnProject.iml

src/main/java/kttai/learn/NumDupDigitsAtMostNClass.java
src/main/resources/
src/test/
target/classes/kttai/learn/NumDupDigitsAtMostNClass.class
target/generated-sources/
